@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');

.board {
  margin: 30pt auto;
  border: 4px double #999;
  border-spacing: 0px;
}

.cell {
  height: 35pt;
  width: 35pt;
  text-align: center;
  border: 1px solid #ccc;
  font-family: 'Anonymous Pro', monospace;
  font-size: 20pt;
  cursor: pointer;
}

.board tr:nth-child(3) .cell, .board tr:nth-child(6) .cell {
  border-bottom: 2px solid #191919;
}

.board td:nth-child(3).cell, .board td:nth-child(6).cell {
  border-right: 2px solid #191919;
}

.cell.related {
  background-color: #edffec;
}

.cell.selected {
  background-color: #caf7e3;
}

